.footer-styles{
    .bgTop{
        background-color: #0f2648;
    }
    .bgBt{
        background-color: #081b39;
    }
    .heading{
        color: white;
        font-weight: 700;
    }
    .white-links{
        font-size: 20px;
        text-decoration: none;
        font-weight: 400;
        color: white;
    }
    .white-links:hover{
        color: greenyellow;
    }
    .newsletter-container{
        border: 2px solid white;
        display: flex;
        height: 40px;
    }
    .newsletter-input{
        background-color: #081b39;
        color:white;
        width: 80%;
        border-radius: 0px;
        border: none;
        outline: none;
        padding-left: 10px;
    }
    .newsletter-btn{
        background-color: #1e4788;
        color: white;
        border: none;
        font-size: 12px;
        width: 20%;
    }
    .newsletter-btn:hover{
        transition-duration: 300ms;
        background-color: rgb(125, 180, 44);
    }
    .social-links-container{
        display: flex;
        gap: 7px;
        width: 245px;
        background-color: white;
        padding: 2px 10px;
        border-radius: 15px;
    }
    .social-links-mobile{
        display: flex;
        justify-content: center;
    }
    .social-links-mobile > .social-white{
        background-color: white;
        width: 55%;
        padding: 5px;
        display: flex;
        gap: 2px;
        justify-content: center;
        border-radius: 20px;
    }
    
}