.hotel-styles{
    .main-container {
        width: 100vw;
        min-height: 90vh;
        background:url("../public/images/hotel-bg.webp");
        background-size:cover;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .first-box{
        background-color: rgba(240, 244, 249, 0.633);
        min-height: 22px;
        width: 50%;
        border-radius: 5px;
        position: relative;
        top: 32px;
    }
    .second-box{
        background-color: rgba(238, 244, 253, 0.611);
        min-height: 30px;
        width: 60%;
        border-radius: 5px;
        position: relative;
        top: 20px;
    }
    .hotel-box{
        background-color: rgba(242, 244, 253, 0.89);
        min-height: 8%;
        padding: 20px;
        width: 80%;
        border-radius: 10px;
    }
    .link-icon{
        color: #499b2f;
        text-decoration: none;
    }
    .visa-btn{
        font-size: 20px;
        border: none;
        width: 42px;
        height: 42px;
        position: relative;
        right: 20px;
        border-radius: 100%;
        color: white;
        background-color: #2170b9;
    }
    .visa-btn:hover{
        transition-duration: 300ms;
        background-color: #114372;
    }
    .email{
        font-size: 20px;
    }
}